h1 {
	text-align: center;
	color: blue;
}

.columnOrder{
	display: flex;
}

.parametersColumn {
	width: 10%;
	color: green;
	border: 1px solid black;
}

.mapColumn{
	width: 70%;
	border: 1px solid black;
}

.informationColumn{
	width: 20%;
	color: red;
	border: 1px solid black;
}