.columnInformation{
	height: 100%;
	border: 2px solid black;
}

.columnInformation > .borderBot{
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	border-bottom: 1px solid black;
}

div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 60px;                    
    height: 28px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0.5px;        
    border-radius: 8px;         
    pointer-events: none;           
}

.iso_circles {
    position : absolute;
    z-index : 2;
    fill : blue;
    opacity : 0.05;
    stroke-width : 2px;
    stroke : black;
    stroke-opacity : 1;
}

.dir_line {
    stroke : orange;
    stroke-width : 1.5px;
    stroke-dasharray: 2
}


