body {
  padding-top: 65px;
  padding-bottom: 0px;
}

#trainImg{
    float: left;
}

.centeredCol{
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#left-item{
    margin-left: 250px;
}

.nav-item{
    margin-left: 25px;
}
.columnInformation{
	height: 100%;
	border: 2px solid black;
}

.columnInformation > .borderBot{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid black;
}

.columnInformation > .borderBot > img{
    width: 100%;
}

.box{
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.mastercard{
    border: 1px solid grey;
    text-align: center;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


#scale{
  /*position:fixed;*/
  transform: translate(0, -3%); 
  left: 2%;
  width: 100%;
  top:80px;  
}
#popup{
  /*top: 50%;*/
  top:80px;
  position:fixed;
  left: 2%;
  width: 70%;
  transform: translate(0, -5%); 
  text-align: center;
}

.card_popup {
    background: rgba(0,12,16,0.64);
    color: white;
}

.card {
    width: 90%;
    border: 1px solid grey;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card > img {
    max-height: 150px;
    width: 100%;
}

.city > img {
    max-height: 150px;
    width: 100%;
}

.travel{
    width: 75%;
    display: inline-block;
}

.travel > img {
    height: 75px;
    width: 40px;
}

#time{
    margin-top: 37px;
    text-align: center;
    transform: translate(0, -50%); 
    font-style: italic;
}

.test > .description {
    font-size: 10px;
}

/*not used anymore ?*/
div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 60px;                    
    height: 28px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0.5px;        
    border-radius: 8px;         
    pointer-events: none;           
}

.iso_circles {
    position : absolute;
    z-index : 2;
    fill : transparent;
    stroke-width : 0.5px;
    stroke : black;
    stroke-opacity : 1;
}

.dir_line {
    stroke : orange;
    stroke-width : 1.5px;
    stroke-dasharray: 2
}

.user-select-none {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

